body, a, p, i, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  width: 100%;
  margin: 0 auto;
}

/*header*/

header li {
  display: inline-flex;
}

.top {
  display: grid;
  grid-template-columns: 21.67% 56.66% 21.67%;
  display: -ms-grid;
  -ms-grid-columns: 21.67% 56.66% 21.67%;
  padding: 15px 2.5%;
  max-width: 1200px;
  margin: 20px auto;
}

.top .logo {
  display: grid;
  place-content: center;
  display: -ms-grid;
  -ms-grid-column: 1;
}

.top .logo img {
  width: 100%;
}

.top .login {
  color: #f00;
  font-weight: 600;
}

.top ul {
  margin: 5px 0 10px 0;
}

.top li a {
  color: #505050;
  border-right: 1px solid #505050;  
  padding-right: 5px;
}

.top li:first-child a {
  padding-left: 0;
}

.top li:last-child a {
  padding-right: 0;
  border: none;
}

.top .account {
  margin: 0 4%;
  -ms-grid-column: 2;
}

.top .account div {
  display: inline-flex;
  width: 100%;
}

.top .input {
  width: 100%;
  height: 33px;
  border: 1px solid #21076a;
  border-left: none;
}

.top select {
  padding: 0 20px 0 10px;
  height: 35px;
  min-width: 130px;
  border: none;
  background: #dbdbdb;
  border: 1px solid #21076a;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, #505050 50%),
    linear-gradient(135deg, #505050 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em),
    calc(100% - 15px) calc(1em);
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.top select::-ms-expand {
  display: none;
}

.top .search {
  border: none;
  width: 100%;
  padding: 0 10px;
  border-top: .5px solid #21076a;
  border-bottom: .5px solid rgb(0, 0, 102);
  outline: none;
}

.top .input a {
  border: .5px solid #21076a;
  border-left: none;
  width: 45px;
  background: #21076a;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .input i {
  color: #fff;
  font-size: .8em;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -ms-grid-column: 3;
}

.cart .tel {
  font-size: 1.6em;
  color: #21076a;
}

.cart span {
  color: #21076a;
  margin-bottom: 5px;
}

.cart .checkout {
  color: #21076a;
  width: 100%;
  height: 33px;
  border: 1px solid #808080;
  background: #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart .checkout i {
  color: #21076a;
  margin-left: 5px;
}

.checkout span {
  margin: 0 5px;
  width: fit-content;
}

.middle {
  background: #f00;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.middle div {
  width: 1200px;
  margin: 0 15px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.middle li a {
  font-size: 1.1em;
  color: #fff;
  white-space: nowrap;
  padding: 0 15px;
  height: 42px;
  display: inline-flex;
  align-items: center;
}

.middle li {
  height: 100%;
  display: inline-flex;
}

.middle ul {
  height: 42px;
  display: inline-flex;
}

.middle li:hover,
.middle .service li:hover {
  background: #bd0000;
  text-decoration: underline;
}

.middle .service li {
  background: #e20000;
}

.middle .service {
  background: #e20000;
}

.bottom {
  background: #ececec;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.bottom ul {
  list-style-type: square;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom li {
  height: 100%;
  color: #505050;
  display: inline-flex;
  align-items: center;
  height: 35px;
}

.bottom li a {
  color: #505050;
  margin: 0 15px;
  line-height: .8em;
  white-space: nowrap;
}

.bottom li a:hover {
  text-decoration: underline;
}

/*article*/

article {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 22% 76%;
  grid-gap: 2%;
  display: -ms-grid;
  -ms-grid-columns: 22% 2% 76%;
  margin: 30px auto;
  padding: 0 2.5%;
}

/*aside*/

aside img {
  width: 100%;  
}

aside .which img {
  margin-bottom: 20px;
}

aside div[class^="title"] h1 {
  background: #ececec;
  width: 100%;
  min-height: 30px;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
}

aside .title-arrow h1::before {
  content:"";
  border-top: 20px solid #ececec;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

aside .advice {
  width: 90%;
  border: 1px solid #ececec;
  padding: 0 5% 3% 5%;
  margin-bottom: 35px;
}

aside .advice .ad {
  position: relative;
  margin: 8% 0;
}

aside .advice .ad img {
  display: flex;
}

aside .advice .ad div {
  position: absolute;
  bottom: 0;
  padding: 3% 5%;
  width: 90%;
  background: rgba(236, 236, 236, .85);  
}

aside .advice a {
  color: #f00;
  position: relative;
  font-size: 1.15em;
}

aside .advice p {
  font-size: 1.15em;
  line-height: 1.25em;
}

aside .advice a::after {
  content:"";
  font-size: 0;
  border-left: 10px solid #f00;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  bottom: 3px;
  right: -15px;
}

aside .twitter {
  margin-bottom: 35px;
}

aside .twitter p {
  font-size: 1.5em;
}

aside .twitter span {
  font-size: .7em;
  color: #505050;
}

aside .twitter a {
  color: #3c97ff;
}

aside .twitter .title {
  height: 40px;
  margin: 0 10px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside .twitter .info {
  color: #505050;
  font-weight: 600;
  border: 1px solid #505050;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .twitter .tweets {
  width: 100%;
  height: 360px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  overflow-y: scroll;
}

aside .twitter .footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

aside .tweet {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
}

aside .tweet img {
  width: 40px;
  height: 40px;
}

aside .tweet .header {
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  display: -ms-grid;
  -ms-grid-columns: 50px 1fr 20px;
  margin-bottom: 10px;
}

aside .tweet .header div {
  grid-column: 2;
  grid-row: 1;
  -ms-grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside .tweet .header h1 {
  color: #000;
}

aside .tweet .header p {
  color: #808080;
  font-size: 1em;
  margin-top: 3px;
}

aside .tweet .header i {
  color: #e2e2e2;
  font-size: 1.2em;
  -ms-grid-column: 3;
}

aside .tweet .content p {
  font-size: .85em;
  line-height: 1.3rem;
  margin-bottom: 10px;
}

aside .tweet .content img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

aside .tweet .footer  {
  margin: 10px 0;
  align-items: center;
}

aside .tweet .footer i {
  color: #e2e2e2;
  font-size: 1.3em;
  margin: 0 15px 0 0;
}

aside .tweet .footer p {
  color: #808080;
  font-size: .8rem;
}

aside .tweet:hover {
  background: #ecf3f5;
  cursor: pointer;
}

aside .tweet:hover .header i {
  color: #57b3d8;
}

aside .tweet:hover .footer i {
  color: #808080;
}

aside .connect {
  display: grid;
  grid-template-columns: 20% 80%;
  display: -ms-grid;
  -ms-grid-columns: 20% 80%;
  -ms-grid-rows: 4fr;
}

aside .connect i {
  font-size: 2.25em;
  height: 40px;
  margin: 20px 0;
  border-right: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .connect i[class~="fa-facebook-f"] {
  color: #0051ff;
  -ms-grid-row: 1;
}

aside .connect i[class~="fa-twitter"] {
  color: #3c97ff;
  -ms-grid-row: 2;
}

aside .connect i[class~="fa-youtube"] {
  color: #f00;
  -ms-grid-row: 3;
}

aside .connect i[class~="fa-instagram"] {
  color: #57b3d8;
  -ms-grid-row: 4;
}

aside .connect p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1.3em;
  color: #505050;
  -ms-grid-column: 2;
}

aside .connect p:nth-of-type(1) {
  -ms-grid-row: 1; 
}

aside .connect p:nth-of-type(2) {
 -ms-grid-row: 2; 
}

aside .connect p:nth-of-type(3) {
  -ms-grid-row: 3; 
}
 
 aside .connect p:nth-of-type(4) {
  -ms-grid-row: 4; 
}
 
aside .trustpilot {
  padding: 15px;
  border: 1px solid #e2e2e2;
  margin: 20px 0;
}

aside .title h1 {
  margin: 20px 0 0 0;
}

aside .why-buy {
  border:  solid #e2e2e2;
  margin-top: -20px;
}

aside .why-buy ul {
  margin: 15px 20px 15px 30px;
}

aside .why-buy li {
  color: #505050;
  line-height: 1.75em;
}

/*content*/

.content {
  -ms-grid-column: 3;
}

.content .slider div {
  background: #e2e2e2;
  height: 20px;
  width: 98%;
  padding-right: 2%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.content .slider div a {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 50%;
  background: #505050;
}

.content .slider a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.content .slider img {
  max-width: 100%;
  display: flex;
  background: #fff;
}

.content .slider i {
  width: 6%;
  height: 17%;
  padding: 0;
  background: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 70px;
  position: absolute;
  visibility: hidden;
}

.content .slider i[class~="fa-chevron-right"] {
  right: 0;
}

.content .slider i:hover {
  background: #6e6d6d;
  color: #fff;
}

.content .slider a:hover i {
  visibility: visible;
}

.content .slider  a.active {
  background: #bd0000;
}

/*products*/

.products {
  display: grid;
    display: -ms-grid;
  grid-template-columns: 31.33% 31.33% 31.33%;
    -ms-grid-columns: 31.33% 3% 31.33% 3% 31.33%;
  grid-column-gap: 3%;
  grid-row-gap: 20px;
    -ms-grid-rows: 1fr min-content 1fr 20px 1fr;
  margin: 20px 0;
}

.products .item:hover img {
  transform: scale(1.1);
  overflow: hidden;
}

.products .item:hover .description {
  background: rgba(0, 0, 0, .9);  
}

.products .item {
  display: grid;
    display: -ms-grid;
  grid-template-rows: 1fr min-content;
    -ms-grid-rows: 2fr;
}

.products .item img {
  width: 100%;
  grid-row: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
  grid-column: 1;
  transition-duration: .4s;
  transition-delay: .1s;
  z-index: -1;
}

.products .item div {
  background: rgba(0, 0, 0, 0.8);
  grid-row: 2;
    -ms-grid-row: 2;
  grid-column: 1;
}

.products .item p {
  color: #fff;
  line-height: 1.5em;
}

.products .item .offer {
  text-transform: uppercase;
  background: rgba(240, 0, 0, 0.8);
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
}

.products .item .description div{
  display: grid;
    display: -ms-grid;
  grid-template-columns: min-content 1fr;
    -ms-grid-columns: 2fr;
  grid-template-rows: 1fr min-content;
    -ms-grid-rows: min-content 1fr;
  background: none;
  margin: 5px 10px;
}

.products .item .description div p {
  grid-column: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  grid-row: 1;
    -ms-grid-row: 1;
  line-height: 1em;
}

.products .item .description .price {
  grid-column: 1;
    -ms-grid-column: 1;
  grid-row: 2;
    -ms-grid-row: 2;
  font-size: 1.5em;
  margin-top: 5px;
  display: flex;
  align-items: flex-end;
}

.products .item .description span {
  grid-column: 2;
    -ms-grid-column: 2;
  grid-row: 2;
    -ms-grid-row: 2;
  color: #fff;
  font-size: .8em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.products .info {
  width: 40%;
  width: fit-content;
  height: 10%;
  padding: 7px 5px;
  margin: 5%;
  background: #f00;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}

.products .item:nth-of-type(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.products .item:nth-of-type(2) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.products .item:nth-of-type(3) {
  -ms-grid-column: 5;
  -ms-grid-row: 1;
}

.products .item:nth-of-type(4) {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}

.products .item:nth-of-type(5) {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}

.products .item:nth-of-type(6) {
  -ms-grid-column: 5;
  -ms-grid-row: 3;
}

.products .item:nth-of-type(7) {
  -ms-grid-column: 1;
  -ms-grid-row: 5;
}

.products .item:nth-of-type(8) {
  -ms-grid-column: 3;
  -ms-grid-row: 5;
}

.products .item:nth-of-type(9) {
  -ms-grid-column: 5;
  -ms-grid-row: 5;
}

/*brands*/

.brands {
  grid-column: 1 / 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
  display: grid;
    display: -ms-grid;
  grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 3% 1fr 3% 1fr;
  grid-column-gap: 3%;
  -ms-grid-row: 2;
  -ms-grid-rows: 20px 1fr 20px;
}

.brands .title p {
  font-size: 1.2em;
  text-align: right;
  width: 100%;
} 

.brands .title a {
  color: #f00;
}

.brands .title {
  border-right: 2px solid #f00;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding-right: 25%;
}

.brands div[class^="grid"] {
  display: grid;
    display: -ms-grid;
  grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 50% 50%;
}

.brands .img a {
  background-image: url(/assets/images/featured-brands.gif);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 38px;
  width: 100%;
  display: block;
}

.brands .canon {
  background-position-y: 5px;
}

.brands .dji {
  background-position-y: -430px;
}

.brands .fujifilm {
  background-position-y: -40px;
}

.brands .nicon {
  background-position-y: -80px;
}

.brands .manfrotto {
  background-position-y: -200px;
}

.brands .elinchrom {
  background-position-y: -155px;
}

.brands .sony {
  background-position-y: -120px;
}

.brands .sigma {
  background-position-y: -340px;
}

.brands .pentax {
  background-position-y: -246px;
}

.brands .lowepro {
  background-position-y: -290px;
}

.brands .grid:nth-of-type(1)  {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}

.brands .grid:nth-of-type(2)  {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}

.brands .grid:nth-of-type(3) {
  -ms-grid-column: 5;
  -ms-grid-row: 2;
}

.brands .grid div:nth-of-type(1) {
  -ms-grid-column: 1;
}

.brands .grid div:nth-of-type(2) {
  -ms-grid-column: 2;
}